#queryBox {
	font: 95% Arial, Helvetica, sans-serif;
	margin: 10px auto;
	padding: 16px;
    background: #F7F7F7;
    position: fixed;
    right: 25px;
    bottom: 10px;
    width: 250px;
    /* height: 130px; */
    border-radius: 2px;
}

#queryBox input[type="text"],
#queryBox input[type="date"],
#queryBox input[type="datetime"],
#queryBox input[type="email"],
#queryBox input[type="number"],
#queryBox input[type="search"],
#queryBox input[type="time"],
#queryBox input[type="url"],
#queryBox textarea,
#queryBox select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    height: 40px;
}
#queryBox input[type="text"]:focus,
#queryBox input[type="date"]:focus,
#queryBox input[type="datetime"]:focus,
#queryBox input[type="email"]:focus,
#queryBox input[type="number"]:focus,
#queryBox input[type="search"]:focus,
#queryBox input[type="time"]:focus,
#queryBox input[type="url"]:focus,
#queryBox textarea:focus,
#queryBox select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

#queryBox input[type="submit"],
#queryBox input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
#queryBox input[type="submit"]:hover,
#queryBox input[type="button"]:hover{
	background: #2EBC99;
}

.ol-zoom-out ,.ol-zoom-in{
    background: #F7F7F7 !important;
    color: gray !important;
}

.ol-attribution {
    display: none;
}

#ToolBox {
    position: fixed;
    left: 1rem;
    top: 8rem;
    z-index: 10;
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    
}

.popup-content {
    z-index: 10;
    background-color: #fefefe;
    margin: 12rem auto;
    margin-left: 1rem;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* checkbox styles */

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#map{
    height: 100%;
    width: 100%;
}

#list{
    position: absolute;
    padding: 10px;
    right: 20px;
    bottom: 20px;
    background-color: white;
    width: 400px;
    height: 100px;
}


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }
